* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FAFAFA;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
}

.logo img {
  width: 60px;
  /* -webkit-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25)); */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.h-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links ul li {
  margin: 0 20px;
}

.menu__links {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.left {
  max-width: 850px;
  flex-direction: inherit;
}

.usercard {
  margin-bottom: 70px;
  width: 350px;
  min-height: 350px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.user__name {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 18px;
}

footer {
  flex-shrink: 0;
  height: 90px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}